.btn-link-custom{
    /* Estilos personalizados para el botón "Ingresar" */
    color: #FFFFFF; /* Cambiar el color del texto a blanco */
    background-color: #24242400; /* Cambiar el color de fondo a verde */
    border: 2px solid #C54BBF;
    font-weight: bold;
    text-decoration: none; /* Anula el subrayado del texto en los botones */
}


.btn-primary-custom {
    /* Estilos personalizados para el botón "Registro" */
    color: #FFFFFF; /* Cambiar el color del texto a blanco */
    background-color: #C54BBF; /* Cambiar el color de fondo a naranja */
    border: 2px solid #C54BBF;
    font-weight: bold;
}   

.navbar{
    font-family: 'Arial', sans-serif;
}