.contenedorLuis {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos al extremo derecho */
  z-index: 5;
  margin: 0;
  padding: 0;    
}

.rectanguloLuis {
  flex: 0 0 auto;
  width: 80%; /* Usa porcentaje para que sea adaptable */
  max-width: 515px; /* Establece un máximo para evitar que se expanda demasiado */
  height: 100vh; /* Usa altura relativa al 50% del viewport height (altura de la ventana del navegador) */
  background-color: #F7F7F7;
}

.imagenLogoLuis {
  height: 5rem;
  margin-top: 0.5rem;
}


.contenedorImagen{
  display: flex;
  justify-content: center; /* Alinea a la izquierda */
  align-items: center;
}