.portadaRegistro {
  margin-bottom: 100px;
}

.parrafoPortadaRegistro {
  font-size: 25px;
  color: black; 
  margin-top: 10px;
  font-family: robotol
}

.Color {
  color: #f088eb;
  font-family: robotob;
}

.color {
  color: #f088eb;
  font-family: robotob;
}
.formulario{
  text-align: center;
  font-family: robotob;

}

.titulo-Personalizado Color{
  color: #f088eb;
}


