.portadaRegistro {
  margin-bottom: 100px;
}

.parrafoPortadaRegistro {
  font-size: 25px;
  color: black; 
  margin-top: 10px;
  font-family: robotol
}

.Color {
  color: #f088eb;
  font-family: robotob;
}

.color {
  color: #f088eb;
  font-family: robotob;
}
.formulario{
  text-align: center;
  font-family: robotob;

}

.titulo-Personalizado Color{
  color: #f088eb;
}

.bannerRegistro{
  background-image: url("../../../../public/imágenes/RegistroImagenArriba.png");
  background-size: cover;
 flex-direction: column;
 display:flex;
 height:40vh;
 width: 100vw;

}
.tituloRegistro{
  color:#facaf7f4; 
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  font-size: 120px;
}