.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%; 
  float: left;
  margin-right: 10px;
  border-radius: 50px ; 
  padding: 10px; 
  display: flex;
  align-items: center; 
}
.card-title {
  font-size: 2rem;
  color: #A3579F;
  background-color: #e9dae9;
  padding-left:15px;
  
}

.comment-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #A3579F; 
}

textarea {
  width: 100%;
  height: 200px; 
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #A3579F;
  border-radius: 5px;
}

.buttonChoto {
  background-color: #A3579F;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px; 
}

.buttonChoto:hover {
  background-color: #D68DD3;
}

.comments {
  border: 2px solid #A3579F; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}

.comments-titleChoto {
  backcolor: #A3579F; 
  background-color: #e9dae9;
  border-bottom: 2px ; 
  padding-bottom: 10px;
  margin: 0;
}
