
  
.container-fluid.bg-image{
    background-image: url('/imágenes/Baner2.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  


.enlace {
  text-decoration: none;
  color: #333;
}

.enlace img {
  width: 100%;
  height: auto;
}

.tituloChingon{

margin-top: 50px;
text-align: center;

}

  
  .col-md-2 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;
  }

  .btn-pink {
    background-color: #a0547a;
    color: #fff;
  }
  
  .btn-pink:hover {
    background-color: #ce7ea8;
  }