
.imagenPerfil{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 200px;
    height: 180px;
    max-width: 100%;
  
    /* Borde redondeado para la imagen */
    border-radius: 50px;
  }



  /*----------------------------------------------------------------------*/


  /* Estilos para el título de datos personales */
  .subtituloDatosPersonales {
    /* Tamaño de fuente y ajustes de margen */
    font-size: 1.5rem;
    margin-top: 1rem;
}

.botonComponenteInfo{
    background-color: #f088eb;
    color: white;
    font-family: robotob;
}

.containerbotonA1{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

.password-toggleLuisPerfil {
    left: 80%;
    top: 70%;
    position: absolute;
  
    /* Tamaño y apariencia del icono */
    width: 15px;
    height: 15px;
    background-image: url('../../../../assets/resources/ojon.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    
}

.subtituloChiqui{
    font-size: 1.1rem;
    color: #f088eb;
    font-family: robotob;
    margin-left: 5px;
}

.espacioLuis {  
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(197, 75, 191, 0.5);
    width: 100%;
    font-size: 1rem; /* Tamaño de fuente más pequeño, ajusta según sea necesario */
}
.espacioLuis2{
    background: rgba(197, 75, 191, 0.5);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    padding-right: 0%;
}

.columnaImagen{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}