@font-face {
    font-family: 'inter';
    src: url('../../Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.headerLuisHVL{
    font-family: inter;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 25px;
    margin-left: 2.3rem;
    font-weight: bold;
    font-size: 1rem;
}