@font-face {
  font-family: "robotob";
  src: url("../../Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotol";
  src: url("../../Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



/* Este es el bloque de codigo de estilo de los espacios para que el usuario coloque su información*/
.espacioLuis {
  margin-left: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(197, 75, 191, 0.5);
  width: 65%;
  padding: 0%;
  position: relative; /* Agrega posición relativa para los elementos internos */
}
.espacioLuis input {
  padding-right: 30px; /* Espacio para el ícono */
}

/* el siguiente formatea el texto predefinido de estos espacios */

.espacioLuis::placeholder {
  /*el placeholder*/
  color: white;
  /* Establece el color del texto ingresado por el usuario en blanco */
  font-weight: bold;
  margin-top: 2.5vh;
}


/*prueba*/
/* Estilos para el placeholder del input */
.espacioLuis::-webkit-input-placeholder {
  /* Estilos para Chrome, Safari, Edge y otros navegadores basados en WebKit */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8vw;  
  font-weight: bold;
  margin-top: 2.5vh;
}

.espacioLuis:-moz-placeholder {
  /* Estilos para Firefox 18- */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8vw
}

.espacioLuis::-moz-placeholder {
  /* Estilos para Firefox 19+ */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8vw
}

.espacioLuis:-ms-input-placeholder {
  /* Estilos para Edge */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8vw
}


/*--------------------------------*/

/* el siguiente formatea el boton ingresar */
.botonLuis {
  color: #f088eb;
  font-family: "robotob";
  font-size: 1.2em; /* Utiliza em para el tamaño de fuente */
  width: 35%;
  padding: 2%; /* Utiliza porcentaje para el padding */
  border-radius: 20px;
  border: 2px solid #f088eb;
  background: transparent;
}

.contenedorBotonLuis {
  margin-left: 10%; /* Utiliza porcentaje para el margen izquierdo */
}


/* el siguiente formatea los títulos que anteceden los espacios de ingreso de usuario */
.label-textLuis {
  color: #f088eb;
  font-family: "robotob";
  font-size: 1vw; /* Usa vw (viewport width) para el tamaño de fuente */
  text-align: left;
  margin-top: 2.5vh; /* Usa vh para el margen superior */
}


/* el siguiente formatea la estructura del formulario */
.formLuis {
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  height: 650px;
}


.titulo2Luis {
  color: #080000;
  font-family: "robotob";
  font-size: 1.3vw; 
  margin-left: 0.5vh; 
  padding-top: 3vh; 
  padding-bottom: 5vh; 
}

.alumnosLuis {
  color: #f088eb;
  font-family: robotob;
  white-space: nowrap;
  font-size: 1.3vw;
}

.espacioLuis[type="password"] {
  background-image: url("../../ojo.png"); /* Agrega la imagen del ícono */
  cursor: pointer;
}

.password-toggleLuis {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../../ojo.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
#parrafoLuis {
  margin-top: 10px;
  margin-right: 45px;
  color: #000;
  font-family: robotol;
  font-size: 20px;
  font-weight: 300;  
  text-align: right;
}

#claveLuis {
  color: #f088eb;
  font-family: robotob;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 300;
}

.separadorLuis {
  margin-top: 3vh; /* Usa vh para el margen superior */
  margin-left: 5%; /* Utiliza porcentaje para el margen izquierdo */
  border: none;
  border-top: 0.6vw solid #a3579f; /* Usa vw para el grosor del borde */
  width: 80%;
  border-radius: 20px;
}

.accesoDocenteLuis {
  color: #000;
  font-family: "robotob";
  font-size: 2vw; /* Usa vw para el tamaño de fuente */
  font-weight: 700;
  margin-bottom: 8vh; /* Usa vh para el margen inferior */
}

#docenteLuis {
  color: #f088eb;
  font-family: robotob;
  white-space: nowrap;
  font-size: 20px;
}

.contenedorLuisEspacio{
  width: 100%;

}

.formLuis.cerrada {
  display: none;
}

/* Agrega cualquier otro estilo necesario para cuando la sección está abierta */
