@font-face {
  font-family: "robotob";
  src: url("../../Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotol";
  src: url("../../Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Este es el bloque de codigo de estilo de los espacios para que el usuario coloque su información*/
.espacioLuisUnico {
  width: 90%;
  margin-left: 0rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(197, 75, 191, 0.5);
  padding: 0%; /* Utiliza porcentaje para el padding */
}

.espacioLuisEspecial{
  width: 90%;
  padding:0%;
  margin: 0rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(197, 75, 191, 0.5);
}

/* el siguiente formatea el texto predefinido de estos espacios */

.espacioLuisUnico::placeholder {
  /*el placeholder*/
  color: white;
  /* Establece el color del texto ingresado por el usuario en blanco */
  font-weight: bold;
  padding-left: 0.5rem;
}

.espacioLuisEspecial::placeholder {
  /*el placeholder*/
  color: white;
  /* Establece el color del texto ingresado por el usuario en blanco */
  font-weight: bold;
  padding-left: 0.5rem;
}
/*prueba*/
/* Estilos para el placeholder del input */
.espacioLuisUnico::-webkit-input-placeholder {
  /* Estilos para Chrome, Safari, Edge y otros navegadores basados en WebKit */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

.espacioLuisUnico:-moz-placeholder {
  /* Estilos para Firefox 18- */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

.espacioLuisUnico::-moz-placeholder {
  /* Estilos para Firefox 19+ */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

.espacioLuisUnico:-ms-input-placeholder {
  /* Estilos para Edge */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

/*----------------------------------------*/

/* Estilos para el placeholder del input */
.espacioLuisEspecial::-webkit-input-placeholder {
  /* Estilos para Chrome, Safari, Edge y otros navegadores basados en WebKit */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

.espacioLuisEspecial:-moz-placeholder {
  /* Estilos para Firefox 18- */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

.espacioLuisEspecial::-moz-placeholder {
  /* Estilos para Firefox 19+ */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}

.espacioLuisEspecial:-ms-input-placeholder {
  /* Estilos para Edge */
  color: #fff; /* Cambia el color del texto del placeholder */
  font-style: italic; /* Cambia el estilo de fuente del placeholder */
  opacity: 0.7; /* Cambia la opacidad del placeholder */
  font-size: 0.8rem
}



/*--------------------------------*/

/* el siguiente formatea el boton ingresar */
.botonLuis {
  color: #f088eb;
  font-family: "robotob";
  font-size: 0.7rem; /* Utiliza em para el tamaño de fuente */
  width: 35%;
  padding: 2%; /* Utiliza porcentaje para el padding */
  border-radius: 20px;  
  margin-right: 0.8rem;
  border: 2px solid #f088eb;
  background: transparent;
}

.contenedorBotonLuis {
  display: flex;
  justify-content: flex-end; /* Alinea a la izquierda */
  align-items: center; /* Mantiene centrado verticalmente */
}

/* el siguiente formatea los títulos que anteceden los espacios de ingreso de usuario */
.label-textLuis {
  color: #f088eb;
  font-family: "robotob";
  font-size: 0.9rem; /* Usa vw (viewport width) para el tamaño de fuente */
    text-align: left;
    margin-top: 2vh; /* Usa vh para el margen superior */
  }


/* el siguiente formatea la estructura del formulario */
.formLuis {
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  height: 26rem;
}


.titulo2Luis {
  color: #080000;
  font-family: "robotob";
  font-size: 1.2rem; 
  margin-left: 0.5vh; 
  padding-top: 3vh; 
  padding-bottom: 5vh; 
}

.alumnosLuis {
  color: #f088eb;
  font-family: robotob;
  white-space: nowrap;
  font-size: 1.2rem;
}

/* Estilos para el ojo del password */
.password-toggleLuis {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 2rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../../../../assets/resources/ojon.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.columnaOjo {
  display: flex;
  justify-content: flex-end; /* Alinea a la izquierda */
  align-items: center; /* Mantiene centrado verticalmente */
}

#parrafoLuis {
  margin-top: 1rem;
  margin-right: 1.6rem;
  color: #000;
  font-family: robotol;
  font-size: 0.7rem;
  font-weight: 300;  
  text-align: right;
}

#claveLuis {
  color: #f088eb;
  font-family: robotob;
  white-space: nowrap;
  font-size: 0.7rem;
  font-weight: 300;
}

.separadorLuis {
  margin-top: 3vh; /* Usa vh para el margen superior */
  margin-left: 5%; /* Utiliza porcentaje para el margen izquierdo */
  border: none;
  border-top: 0.6vw solid #a3579f; /* Usa vw para el grosor del borde */
  width: 14rem;
  border-radius: 20px;
}

.accesoDocenteLuis {
  color: #000;
  font-family: "robotob";
  font-size: 0.7rem; /* Usa vw para el tamaño de fuente */
  font-weight: 700;
  margin-bottom: 8vh; /* Usa vh para el margen inferior */
}

#docenteLuis {
  color: #f088eb;
  font-family: robotob;
  white-space: nowrap;
  font-size: 0.8rem;
}

.contenedorLuisEspacio{
  width: 100%;
  padding: 0%;
  margin: 0%;

}

.formLuis.cerrada {
  display: none;
}

.contenedorRegistrarse{
  display: flex;
  justify-content: center; /* Alinea a la izquierda */
  align-items: center; /* Mantiene centrado verticalmente */
}