.portadaCursos {
background-image: url('./imagenes/portada.png');
background-size: cover;
height: 50vh;
width: 100vw;
padding-top: 0%;
}

.tituloGrande {
color: #C54BBF;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.tituloGratis{
color: #C54BBF;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 20px;
}

.tituloChico {
color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
text-align: center;
}

.textoCompleto {
color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
}

.colorNota {
color: #C54BBF;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
