@font-face {
  font-family: "robotob";
  src: url("../VistaLogIn/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotol";
  src: url("../VistaLogIn/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.portadaCursos {
background-image: url('./imagenes/portada.png');
background-size: cover;
height: 50vh;
width: 100vw;
padding-top: 0%;
}

.tituloGrande {
color: #C54BBF;
font-family: 'Arial', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.tituloGratis{
color: #C54BBF;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-family: 'Arial', sans-serif;
}

.tituloChico {
color: #000;
font-family: 'Arial', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
text-align: center;
}

.textoCompleto {
color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
}

.colorNota {
color: #C54BBF;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.botonRaro{ 
  color:white;
  border-radius: 5px;
  background-color:#C54BBF ;
  border: 2px solid #C54BBF;
}
.botonRaro:hover{
  background-color: #f088eb;
  border: #f088eb;
}

.textoBlancoBoton{
    color: inherit; /* Utiliza el color heredado del elemento padre (puede ser el color del texto circundante) */
    text-decoration: none; /* Elimina el subrayado del enlace */
}
.linkForo {
border: 2px solid #f088eb ;
display: inline-block;
width: 100% ;
padding: 15px; /* Ajusta el padding según sea necesario */

}

.tarjetita{
  background-color:  rgba(250, 250, 250, 0.4);
  border: 2px solid #f088eb;
  font-size: large;
}
.tituloPrecio{
  color: #C54BBF;
  width: 400px;
  border: 2px solid #f088eb;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Arial', sans-serif;
  margin-top: 15px;
  }

  .imagenCursos{
   width: auto; 
   height: 200px;
   margin-left: 150px;  

  }

  .precio{
    font-size: bold;
    color: #000;

  }
  
  
  .margenDerechoImagen {
    margin-right: 50px; 
  }