.tituloForgot{
    font-family: robotob;
    text-align: center;
    margin-top: 2rem;
}

.iniciarSesion{
    color: #f088eb;
    font-family: robotob;
}

.textoForgot{
    text-align: center;
    font-family: robotol;
}

.modificaciónForgot{
    color: #f088eb;
    font-family: robotob;
}