.banner{
    background-image: url("../../../public/imágenes/Banner3.jpg");
    background-size: cover;
   flex-direction: column;
   display:flex;
   height:65vh;
   width: 100vw;

}

.tituloquien{
    color:#facaf7f4; 
    font-weight: 700;
    text-align: center;
    margin-top: 130px;
    font-size: 120px;
}

.contenedorTabla{

text-align: center;

}

.img-fluid.maclovin{
height: 20rem;
    border-radius: 15px;
    margin-top: 20px;
}


.titulinios{

    margin-top: 30px;
}

.marginTopRow {
    margin-top: 200px; /* O el valor que desees */
  }