.formRegistro {
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 15px 0;
  }
  
  .formRegistro ::placeholder {
    color: white;
  }
  
  .letrasWhite{
    color: white;
  }
  
  .boton {
    border-radius: 6px;
    margin-top: 2rem;
    border: 2px solid #d298cf;
    color:#d298cf;
    font-family: robotob;
  }
  
  .cambioColorRegistro{
    
    color: #f088eb;
  }
  .color {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(197, 75, 191, 0.5);
  }

  .colorÑaqui{
    border-radius: 20px;
    color: #d298cf;
    background: none;
    padding:0.5rem;
  }

  .botonÑaqui{
    border: 2px solid #d298cf;
    color:#f088eb;    
    border-color: #f088eb;
    font-family: robotob;
  }
  
  .colorLabel {
    color: #f088eb;
    font-weight: bold;
  }
  
  .tituloForm {
    text-align: center;
    color: rgb(5, 5, 5);
  }
  
  /* Nuevos estilos para las columnas y el ancho del select */
  .formulario-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .formColumna {
    flex: 1;
    padding: 0 10px; /* Espacio entre columnas */
    box-sizing: border-box;
  }
  
  /* Asegura que los input y el select tengan el mismo ancho */
  .formColumna input, .formColumna select {
    width: 100%;
  }
  
  .Contenedorboton{
    display: flex;
    justify-content: center; /* Alinea a la izquierda */
    align-items: center;
  }
