
.container.datos-portada{
 
    background-color: #ffffff9f;
    border-radius: 5px;
    
}  

.iconito{

  margin-top: 20px;  
  height: 60px;
    width: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enlace-columna {
    text-decoration: none;
    font-weight: 600;
    color: #ac479e;

  }
  
  .enlace-columna:hover {
    color: #050f13; /* Cambia el color del texto cuando el mouse está sobre el enlace */
  }